MANIFEST
build
debian/files
debian/nsscache.debhelper.log
debian/nsscache.postinst.debhelper
debian/nsscache.prerm.debhelper
debian/nsscache.substvars
debian/nsscache
debian/patches
dist
.pc
*.pyc
*.dsc
*.tar.gz
*.deb
*.changes
*.upload
*.diff.gz
*.build
a.out
*.debian.tar.xz
.pybuild
debian/debhelper-build-stamp
*~
debian/.debhelper/
.cache
.eggs
nsscache.egg-info
/.pytest_cache
