MANIFEST
build
debian/files
debian/nsscache.debhelper.log
debian/nsscache.postinst.debhelper
debian/nsscache.prerm.debhelper
debian/nsscache.substvars
debian/nsscache
debian/patches
dist
__pycache__/
.pc
*.pyc
*.dsc
*.tar.gz
*.deb
*.changes
*.upload
*.diff.gz
*.build
a.out
*.debian.tar.xz
.pybuild
debian/debhelper-build-stamp
*~
debian/.debhelper/
/.cache/
/.eggs/
/.ghi.yml
/.pytest_cache/
nsscache.egg-info/
/tmpconfig.yml
/.coverage
/test-results/
