include /etc/ldap/schema/core.schema
include /etc/ldap/schema/cosine.schema
include /etc/ldap/schema/nis.schema

loglevel -1
pidfile @workdir@/slapd.pid


moduleload back_mdb.la

database mdb
suffix "dc=example,dc=com"
directory @workdir@/ldap
